{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row my-3">
    <div class="col-lg-7">
        {% if object.image %}
            <img src="{{ object.detail_main.url }}" width="640" class="img-fluid rounded border">
        {% else %}
            <img src="{% static 'images/image01.jpg' %}" width="640" class="img-fluid rounded border">
        {% endif %}
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light mt-1">{{ object.name }}</h1>
        <p class="text-muted"><small>{{ object.area }} <span>&#183;</span> {{ object.cuisine }}</small></p>
        <p class="mb-0">{{ object.address1 }} {{ object.address2|default_if_none:"" }}</p>
        <p>{{ object.city }}, {{ object.state }} {{ object.zipcode }}</p>
        <br>
        {% if object.live_capacity %}
            <p class="mb-0">Live Capacity</p>
                {% if object.live_capacity == '100' %}
                    <p class="mb-0"><img src="{% static 'images/capacity/100.jpg' %}" class="align-self-center mr-3" alt="..." width="100"></p>
                {% elif object.live_capacity == '75' %}
                    <p class="mb-0"><img src="{% static 'images/capacity/75.jpg' %}" class="align-self-center mr-3" alt="..." width="100"></p>
                {% elif object.live_capacity == '50' %}
                    <p class="mb-0"><img src="{% static 'images/capacity/50.jpg' %}" class="align-self-center mr-3" alt="..." width="100"></p>
                {% elif object.live_capacity == '25' %}
                    <p class="mb-0"><img src="{% static 'images/capacity/25.jpg' %}" class="align-self-center mr-3" alt="..." width="100"></p>
                {% elif object.live_capacity == '10' %}
                    <p class="mb-0"><img src="{% static 'images/capacity/10.jpg' %}" class="align-self-center mr-3" alt="..." width="100"></p>
                {% endif %}
            <p class="text-muted">Updated： {{ object.updated_at }}</p>
        {% endif %}
        <br>
        {% if request.user.is_authenticated and request.user == restaurant.user %}
            <a class="btn btn-info" href="{% url 'staffroom:index' %}">Admin</a>
        {% else %}
            <a href="javascript:void(0);" onclick="window.history.back();" class="text-dark text-decoration-none"> > Back</a>
        {% endif %}


        
    </div>
</div>
<br>
<hr>

<div class="row my-4">
    <div class="col-lg-7">
        <h4>Reservation</h4>
        {% include 'restaurant/schedule.html' %}
    </div>
    <div class="col-lg-5">
        <h4>Map</h4>
        <br>
        <div id="map" style="height: 200px;"></div>
        <div class="address mt-3">
            <h5>{{ object.name }}</h5>
            <small><p id="address1" class="text-muted mb-0">{{ object.address1 }} {{ object.address2|default_if_none:"" }}</p></small>
            <small><p id="address2" class="text-muted mb-3">{{ object.city }}, {{ object.state }} {{ object.zipcode }}</p></small>
            {% if object.facebook %}
                <a href="https://www.facebook.com/{{ object.facebook }}" class="mr-3 text-muted text-dark text-decoration-none" target="_blank" style="font-size:1.5vw"><i class="fab fa-facebook"></i></a>
            {% endif %}
            {% if object.instagram %}
                <a href="https://www.instagram.com/{{ object.instagram }}" class="mr-3 text-muted text-dark text-decoration-none" target="_blank" style="font-size:1.5vw"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {% if object.twitter %}
                <a href="https://www.twitter.com/{{ object.twitter }}" class="text-muted text-dark text-decoration-none" target="_blank" style="font-size:1.5vw"><i class="fab fa-twitter"></i></a>
            {% endif %}
        </div>
        <br>
    </div>

    <!-- <div class="container">
        <div id="geometry"></div>
    </div> -->

</div>

<!-- <div class="row">
    <div class="col">
        <h5>Review</h5>
        <ul class="list-unstyled">
            {% for comment in restaurant.comment_set.all %}
                <li class="border-bottom mt-2">
                    {{ comment.content }} - {{ comment.created }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post" action="{% url 'comment:create' %}">
            {% csrf_token %}
            {{ CommentForm|crispy }}
            <br>
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    </div>
</div> -->

{% endblock %}

{% block footercontent %}
<script>
    // call Geocode
    // geocode();

    function geocode(){
        
        var value = document.getElementById("address1").innerHTML;
        var value2 = document.getElementById("address2").innerHTML;
        var location = value + value2;

        axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
            params:{
                address: location,
                key:'AIzaSyB_zWyGEwm7N-tO9pwPC5v5xK89RYBXMMI'
            }
        })
        .then(function(response){
            // Log full response
            console.log(response);

            // Formatted Address
            var formattedAddress = response.data.results[0].formatted_address;

            // Address Components
            var addressComponents = response.data.results[0].address_components;

            // Geometry
            var lat = response.data.results[0].geometry.location.lat;
            var lng = response.data.results[0].geometry.location.lng;
            // var geometryOutput = `
            //     <ul class="list-group">
            //         <li class="list-group-item"><strong>Latitude</strong>: ${lat}</li>
            //         <li class="list-group-item"><strong>Longitude</strong>: ${lng}</li>
            //     </ul>
            // `;

            // Output to app
            // document.getElementById('geometry').innerHTML = geometryOutput;

            var location = {};
            location['lat'] = lat;
            location['lng'] = lng;
            
            var map = new google.maps.Map(document.getElementById("map"),{
                zoom: 15,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            
        })
        .catch(function(error){
            console.log(error);
        });

    }
</script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_zWyGEwm7N-tO9pwPC5v5xK89RYBXMMI&callback=geocode"></script>
{% endblock %} 